  <style type="text/css">
    body {
      background-color: #FFFFFF;
    }
    .ui.menu .item img.logo {
      margin-right: 1.5em;
    }
    .main {
      margin: 5em 0 0 0;
    }
    .container-wide {
      width: 100%;
      padding-left: 2em;
      padding-right: 2em;
    }

    .wireframe {
      margin-top: 2em;
    }
    .ui.footer.segment {
      margin: 5em 0em 0em;
      padding: 5em 0em;
    }

    .logo {
      font-size: 20px;
      padding: 0 10px 0 10px;
    }

    .ui.card {
      width: 100%;
    }

    .horizontal.segments.calendar {
      height: 130px;
    }

    .label p {
      padding: 5px 5px 5px 20px;
    }

    .ui.segment {
      width: 14.285% !important;
    }

  </style>
  <div class="main">
    <div class="ui container-wide">

      <div class="ui secondary menu">
<!--         <a class="item">Browse</a>
        <a class="item">Submit</a> -->
        <div class="right menu">
          <!-- <a class="item">Sign Up</a> -->
          <a href="#/" class="item">KANBAN</a>
          <a href="#/calendar" class="active item" >Calendar</a>
        </div>
      </div>

      <div class="ui relaxed segments">
        <div class="ui horizontal segments">
          <div class="ui segment">
            <p>Sunday</p>
          </div>
          <div class="ui segment">
            <p>Monday</p>
          </div>
          <div class="ui segment">
            <p>Tuesday</p>
          </div>
          <div class="ui segment">
            <p>Wednesday</p>
          </div>
          <div class="ui segment">
            <p>Thursday</p>
          </div>
          <div class="ui segment">
            <p>Friday</p>
          </div>
          <div class="ui segment">
            <p>Saturday</p>
          </div>
        </div>
        <div class="ui horizontal segments calendar">
          <div class="ui segment">
            <span class="ui right corner label">
              <p>26</p>
            </span>
            <div class="ui green label">
              Midterm Exam
            </div>
          </div>
          <div class="ui segment">
            <span class="ui right corner label">
              <p>27</p>
            </span>
            <div class="ui blue label">
              Paper
            </div>
          </div>
          <div class="ui segment">
            <span class="ui right corner label">
              <p>28</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner label">
              <p>29</p>
            </span>
            <div class="ui purple label">
              Quiz 3
            </div>
          </div>
          <div class="ui segment">
            <span class="ui right corner label">
              <p>30</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner label">
              <p>31</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>1</p>
            </span>
          </div>
        </div>
        <div class="ui horizontal segments calendar">
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>2</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>3</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>4</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>5</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>6</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>7</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>8</p>
            </span>
          </div>
        </div>
        <div class="ui horizontal segments calendar">
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>9</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>10</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>11</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>12</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>13</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>14</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>15</p>
            </span>
          </div>
        </div>
        <div class="ui horizontal segments calendar">
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>16</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>17</p>
            </span>
          </div>
          <div style="background-color: #fff0c5;" class="ui segment">
            <span class="ui right corner teal label">
              <p>18</p>
            </span>
            <div class="ui purple label">
              Quiz 4
            </div>
          </div>
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>19</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>20</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>21</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>22</p>
            </span>
            <div class="ui purple label">
              Assignment 3
            </div>
          </div>
        </div>
        <div class="ui horizontal segments calendar">
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>23</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>24</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>25</p>
            </span>
            <div class="ui purple label">
              Quiz 5
            </div>
          </div>
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>26</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>27</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>28</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>29</p>
            </span>
          </div>
        </div>
        <div class="ui horizontal segments calendar">
          <div class="ui segment">
            <span class="ui right corner teal label">
              <p>30</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner label">
              <p>1</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner label">
              <p>2</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner label">
              <p>3</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner label">
              <p>4</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner label">
              <p>5</p>
            </span>
          </div>
          <div class="ui segment">
            <span class="ui right corner label">
              <p>6</p>
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>