
  <div class="main">
    <div class="ui container-wide">

      <div class="ui secondary menu">
        <a class="item" href="#/home">Home</a>
        <div class="right menu">
          <a class="active item" href="#/class/dropbox">Dropbox</a>
          <a class="item" href="#/class/grades">Grades</a>
        </div>
      </div>

      <div class="ui grid">
        <div class="sixteen wide column">
          <table class="ui celled striped padded table">
            <thead>
              <tr>
                <th class="center aligned">Assignment</th>
                <th class="center aligned" >Submissions</th>
                <th class="center aligned">Due Date</th>
                <th class="center aligned" ></th>                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="center aligned">Milestone 1</td>
                <td class="center aligned">1</td>
                <td class="center aligned">April 4, 2017 at 11:30 PM</td>
                <td class="center aligned">
                  <div class="ui simple dropdown item">
                    Edit <i class="dropdown icon"></i>
                    <div class="menu">
                      <a class="item" href="">Submit</a>
                      <a class="item" href="">Description</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="center aligned">Milestone 2</td>
                <td class="center aligned">0</td>
                <td class="center aligned">April 18, 2017 at 11:30 PM</td>
                <td class="center aligned">
                  <div class="ui simple dropdown item">
                    Edit <i class="dropdown icon"></i>
                    <div class="menu">
                      <a class="item" href="">Submit</a>
                      <a class="item" href="">Description</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="center aligned">Milestone 3</td>
                <td class="center aligned">0</td>
                <td class="center aligned">May 9, 2017 at 11:30 PM</td>
                <td class="center aligned">
                  <div class="ui simple dropdown item">
                    Edit <i class="dropdown icon"></i>
                    <div class="menu">
                      <a class="item" href="">Submit</a>
                      <a class="item" href="">Description</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="center aligned">Milestone 4</td>
                <td class="center aligned">0</td>
                <td class="center aligned">May 23, 2017 at 11:30 PM</td>
                <td class="center aligned">
                  <div class="ui simple dropdown item">
                    Edit <i class="dropdown icon"></i>
                    <div class="menu">
                      <a class="item" href="">Submit</a>
                      <a class="item" href="">Description</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="center aligned">Final Deliverable</td>
                <td class="center aligned">0</td>
                <td class="center aligned">June 6, 2017 at 11:30 PM</td>
                <td class="center aligned">
                  <div class="ui simple dropdown item">
                    Edit <i class="dropdown icon"></i>
                    <div class="menu">
                      <a class="item" href="">Submit</a>
                      <a class="item" href="">Description</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>