  <div class="main">
    <div class="ui container-wide">

      <div class="ui secondary menu">
        <a class="active item" href="#/home">Home</a>
        <div class="right menu">
          <a class="item" href="#/class/dropbox">Dropbox</a>
          <a class="item" href="#/class/grades">Grades</a>
        </div>
      </div>

      <div class="ui grid">
        <div class="sixteen wide column">
          <div class="ui segments">
            <div class="ui segment">
              <p>News</p>
            </div>
            <div class="ui secondary segment">
              <img class="ui wireframe image" src="images/paragraph.png">
              <img class="ui wireframe image" src="images/paragraph.png">
              <img class="ui wireframe image" src="images/paragraph.png">
              <img class="ui wireframe image" src="images/paragraph.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>