
  <div class="main">
    <div class="ui container-wide">

      <div class="ui secondary menu">
        <a class="item" href="#/home">Home</a>
        <div class="right menu">
          <a class="item" href="#/class/dropbox">Dropbox</a>
          <a class="active item" href="#/class/grades">Grades</a>
        </div>
      </div>

      <div class="ui grid">
        <div class="sixteen wide column">
          <table class="ui celled striped padded table">
            <thead>
              <tr>
                <th class="center aligned">Assignment</th>
                <th class="center aligned" >Score</th>
                <th style="width:67%;" class="center aligned" >Feedback</th>               
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="center aligned">Milestone 1</td>
                <td class="center aligned">5/5</td>
                <td class="center aligned">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna.</td>
              </tr>
              <tr>
                <td class="center aligned">Milestone 2</td>
                <td class="center aligned">~/5</td>
                <td class="center aligned"></td>
              </tr>
              <tr>
                <td class="center aligned">Milestone 3</td>
                <td class="center aligned">~/5</td>
                <td class="center aligned"></td>
              </tr>
              <tr>
                <td class="center aligned">Milestone 4</td>
                <td class="center aligned">~/5</td>
                <td class="center aligned"></td>
              </tr>
              <tr>
                <td class="center aligned">Final Deliverable</td>
                <td class="center aligned">~/15</td>
                <td class="center aligned"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>