<div class="ui fixed inverted menu">
    <div class="ui container">
      <span class="header item">
        <i class="fa fa-ravelry logo"></i>
        Desire 2 Learn
      </span>
      <a class="item" href="#/">Dashboard</a>
      <div class="ui simple dropdown item">
        Classes <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#/class">CSC 360 901</a>
          <a class="item" href="#/class">CSC 394 901</a>
          <a class="item" href="#/class">IT 211 601</a>
          <a class="item" href="#/class">IT 231 610</a>
        </div>
      </div>
    </div>
  </div>